HOOKFORGE_HTTP_ADDR=:8080
HOOKFORGE_DATABASE_URL=postgres://hookforge:hookforge@localhost:5432/hookforge?sslmode=disable
HOOKFORGE_DATABASE_MAX_CONNS=20
HOOKFORGE_SHUTDOWN_TIMEOUT=15s
HOOKFORGE_LOG_LEVEL=info
HOOKFORGE_WORKER_COUNT=16
HOOKFORGE_POLL_INTERVAL=250ms
HOOKFORGE_DELIVERY_TIMEOUT=10s
HOOKFORGE_MAX_ATTEMPTS=8
HOOKFORGE_ENDPOINT_CONCURRENCY=2

